.deposit{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.deposit-box{
    background-color: rgb(255, 255, 255);
    color: white;
    width: 50%;
    border-radius: 5px;
}
.deposit-box label{
    display: block;
}
.deposit-box .form-group{
    margin-bottom: 20px;
}
.deposit-box .form-group:last-child{
    margin-bottom: 0px;
}
.deposit-box input, .deposit-box button{
    height: 60px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.invalid-feedback,.valid-feedback{
    display: block !important;
}
.deposit-box input{
    border: 2px solid #dbdbdb;
}