.deposit{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.deposit-box{
    background-color: black;
    color: white;
    width: 50%;
    padding: 40px;
    border-radius: 5px;
}
.deposit-box label{
    display: block;
}
.deposit-box .form-group{
    margin-bottom: 30px;
}
.deposit-box .form-group:last-child{
    margin-bottom: 0px;
}
.deposit-box input, .deposit-box button{
    height: 60px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.deposit-box input[type="submit"]{
    background-color: rgb(198, 200, 199);
    border: none
}
.deposit-box input[type="submit"]:hover{
    background-color: rgb(233, 234, 233);
}
.invalid-feedback,.valid-feedback{
    display: block !important;
}