.dash-account-box{
    background-color: #e9f2f6;
    padding: 20px;
    border-radius: 5px;
}
.dash-account-box h3{
    font-size: 18px;
    font-weight: bold;
}
.dash-account-box .balance{
    margin-bottom: 30px;
}
.dash-account-box .deposit, .dash-account-box .withdraw, .dash-account-box .transfer{
    border-left: 3px solid black;
    padding-left: 20px;
    padding-right: 20px;
}
.dash-account-box .deposit{
    padding-left: 0;
    border: 0;
}