.main{
    margin: 0;
}
    

.registration .row{
    margin: 0;
}
.registration .col-6,.registration .col-md-6, .registration .col-4, .registration .col-md-4{
    padding: 0;
}
.registration-logo{
    background: linear-gradient(45deg, #E64530, transparent);
    height: 100%;
}
.registration input, .registration select, .registration button{
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 0px 5px;
}
.registration .form-group{
    margin-top: 20px;
}
.registration .registration-form{
  width:90%;
  padding: 10px 0px;
}
.registration .brand-name{
    position: absolute;
    top: 20px;
    right: 50px;
    text-align: end;
    color: blue
}
.registration .brand-name h1{
    margin: 0;
}
.registration .invalid-feedback{
    margin: 0!important;
    display: block !important;
    font-style: italic;
}