.profile {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    margin-bottom: 40px;
    margin: auto;
    overflow: hidden;
}

.profile img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-image-edit {
    position: absolute;
    right: -3px;
    bottom: 80px;
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 199;
}















.profile-update {
    font-size: 15px;
}

.profile-update input,
.profile-update select {
    height: 50px;
    padding: 5px;
    border: 1px solid #d4d4d4;
}

.profile-update .form-group {
    margin-bottom: 30px;
}


.profile-image-edit input[type="file"] {
    display: none;
}

.profile-image-edit label {
    cursor: pointer;
}
.invalid-feedback{
    display: block !important;
}